* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  white-space: nowrap;
}

html {
  scroll-behavior: auto;
}

body {
  background-color: #000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  outline: none;
  border: none;
}